version: 2

defaults: &defaults
  docker:
    - image: cimg/node:14.17.4
      environment:
        - NODE_OPTIONS=--max_old_space_size=4096
  working_directory: ~/repo

save_src_cache: &save_src_cache
  key: source-v1-{{ .Branch }}-{{ .Revision }}
  paths:
    - ~/repo

restore_src_cache: &restore_src_cache
  keys:
    - source-v1-{{ .Branch }}-{{ .Revision }}
    - source-v1-{{ .Branch }}-
    - source-v1-

save_yarn_cache: &save_yarn_cache
  key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
  paths:
    - node_modules

restore_yarn_cache: &restore_yarn_cache
  keys:
    - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
    - yarn-packages-v1-{{ .Branch }}-
    - yarn-packages-v1-

reg_auth: &reg_auth
  name: Authenticate with registry
  command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc

jobs:
  lint:
    <<: *defaults
    steps:
      - restore_cache: *restore_src_cache
      - checkout
      - save_cache: *save_src_cache
      - restore_cache: *restore_yarn_cache
      - run: yarn install
      - save_cache: *save_yarn_cache
      - run: scripts/build lint
  test:
    <<: *defaults
    steps:
      - restore_cache: *restore_src_cache
      - checkout
      - save_cache: *save_src_cache
      - restore_cache: *restore_yarn_cache
      - run: yarn install
      - save_cache: *save_yarn_cache
      - run: scripts/build babel test
  build:
    <<: *defaults
    steps:
      - restore_cache: *restore_src_cache
      - checkout
      - save_cache: *save_src_cache
      - restore_cache: *restore_yarn_cache
      - run: yarn install
      - save_cache: *save_yarn_cache
      - run: *reg_auth
      - run: scripts/build release --next --token $NPM_TOKEN
  release:
    <<: *defaults
    steps:
      - restore_cache: *restore_src_cache
      - checkout
      - save_cache: *save_src_cache
      - restore_cache: *restore_yarn_cache
      - run: yarn install
      - save_cache: *save_yarn_cache
      - run: *reg_auth
      - run: scripts/build release --token $NPM_TOKEN

workflows:
  version: 2

  simple_build:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - develop
                - master
      - test:
          filters:
            branches:
              ignore:
                - develop
                - master
  build:
    jobs:
      - build:
          context: jira
          filters:
            branches:
              only:
                - develop

  release:
    jobs:
      - release:
          context: jira
          filters:
            branches:
              only:
                - master
  # nightly:
  #   triggers:
  #     - schedule:
  #         cron: "0 0 * * *"
  #         filters:
  #           branches:
  #             only:
  #               - develop
  #   jobs:
  #     - build
